<!DOCTYPE html>
<html>
<head>
  <title>Scenikvu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:alert].present? %>
<div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>

<%= yield %>

</body>
</html>
